
/*
Client: acallgfromsanta.com
Agency: Gate39 Media;
Developer, CSS: William Ramirez @wramirez2013;
*/

/* reset col-3 and give it margins this is custom for the four feature section at the bottom of the page */

@media(min-width: 1200px) {

    .col-lg-3 {

        width: 24% !important;

        margin: 0 5px;

    }

}

h1, h2, h3 {

    font-family: Arial;

    color: #235029;

    text-align: center;

    text-align: center;

}

h1 {

    font-size: 48.3px;

    line-height: 53.3px;

}

h2 {

    font-size: 30px;

    line-height: 35.38px;

    color: #3a5731;

    margin-top: 0px !important;

}

a {

    color: #085588;

    font-weight: bold;

}

a:hover, a:focus {

    color: red;

    text-decoration: none!important;

    transition: color .3s

}

h3 {

    font-size: 35px;

    line-height: 21.54px;

    margin: 0px;

    padding: 0px;

    color: #fff;

    font-weight: bold;

}

h4 {

    font-size: 14px;

    text-align: left;

}

.member-box {

    height: 25rem;

    background-color: green;

}

p {

    font-family: Arial;

    font-size: 13px;

    line-height: 15px;

    color: #26481b;

    text-align: left;

}

hr {

    color: #d9e8ff;

    border-style: solid;

    border-width: 1px;

    border-color: #d9e8ff;

}

.logo-text {

    font-family: 'Ubuntu', sans-serif;

    font-weight: 800;

    text-align: center;

    -webkit-text-fill-color: green;

    /* Will override color (regardless of order) */

    -webkit-text-stroke-width: 1px;

    -webkit-text-stroke-color: white;

}

small {

    font-size: 13px;

}

.container-fluid {

    padding: 0px 0px !important;

    margin-top: !important;

}

nav {

    padding: 10px;

}

.caret {

    color: red;

    text-align: center;

    -ms-transform: scale(4, 4);

    /* IE 9 */

    -webkit-transform: scale(4, 4);

    /* Chrome, Safari, Opera */

    transform: scale(4, 4);

}

.brown {

    color: #51451d;

}

.orange {

    color: #cd6906 !important;

}

/* used to change color of text */

.red {

    color: #af0c13;

}

.green {

    color: #235029;

}

.blue {

    color: #085588;

}

.side-padding {

    padding: 0 15px;

}

.relative-adjust {

    position: relative;

    top: 5rem;

}

.relative-adjust2X {

    position: relative;

    top: 3rem;

}

.adjust-section {

    margin-top: -100px;

}

.text-shadow {

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

}

.thin-font {

    font-weight: 100 !important;

}

.text-align-center {

    text-align: center;

}

.rounded-box {

    width: 320px;

    margin: 0 auto;

    padding: 12px 0px 0px 0px;

    border-style: solid;

    border-width: 1px;

    border-color: green;

    -webkit-border-radius: 10px;

    -moz-border-radius: 10px;

    border-radius: 10px;

}

.hero-bg {

    background: url("../img/hero-unit-bg.png") no-repeat;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    background-position: center;

    height: 61rem;

}

.santa-bg {

    background: url("../img/big-santa-bg.png") no-repeat;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    background-position: bottom;

    height: 61rem;

}

.snow {

    position: relative;

    top: -57px;

}

.hero-learn-more {

    position: relative;

    top: 17rem;

    color: #fff;

    font-size: 1.1em;

    text-align: left;

    font-weight: 100 !important;

    -webkit-transition: color .5s;

    transition: color .5s;

    width: 117px;

    font-size: 1.5em;

    left: 20rem;

    font-weight: 100 !important;

}

.hero-learn-more:hover {

    color: red;

}

.nav > li > a {

    padding: 5px 1px !important;

    color: #2a6496;

}

.navbar-text {

    top: 0px;

    font-size: .9em;

    color: #FFF !important;

    -webkit-transition: color .5s;

    transition: color .5s;

    font-weight: 100;

}

.navbar-text:hover {

    color: red !important;

}

/* over ride bootstrap defaults*/

.phone-icon {

    padding-top: 10px;

}

.logo {

    position: absolute;

    top: 7rem;

}

.jumbtron {

    background: #E2EBCE;

    height: 25.1rem;

}

.tstmnl {

    position: relative;

    top: 5rem;

    text-align: center;

    margin: 0 auto;

    width: 600px

}

button, .button {

    -webkit-border-radius: 500px 500px 500px 500px;

    border-radius: 500px 500px 500px 500px;

    border-style: solid;

    border-color: yellow;

    border-width: 5px;

    background: #068412!important;

    padding: 25px 25px;

    text-align: center;

    vertical-align: middle;

    position: relative;

    top: 18rem;

    left: 6rem;

}

button:hover, .button:hover, .button-Sm:hover {

    -webkit-box-shadow: 2px 1px 30px 2px rgba(238, 255, 33, 1);

    -moz-box-shadow: 2px 1px 30px 2px rgba(238, 255, 33, 1);

    box-shadow: 2px 1px 30px 2px rgba(238, 255, 33, 1);

    transition: box-shadow .5s;

    -webkit-border-radius: 500px 500px 500px 500px;

    border-radius: 500px 500px 500px 500px;

    border-style: solid;

    border-color: yellow;

    border-width: 5px;

    transition: border .5s;

}

.relative-button {

    -webkit-border-radius: 500px 500px 500px 500px;

    border-radius: 500px 500px 500px 500px;

    border-style: solid;

    border-color: yellow;

    border-width: 5px;

    background: green;

    padding: 20px 50px;

    text-align: center;

    vertical-align: middle;

    position: relative;

    margin: 0 auto;

    display: block;

    top: 0rem;

    left: 0rem;

}

.button-Sm {

    border-radius: 500px 500px 500px 500px;

    border-style: solid;

    border-color: #046f0f;

    border-width: 5px;

    background: #046f0f;

    padding: 20px 20px;

    text-align: center;

    vertical-align: middle;

    position: absolute;

    top: 42rem;

    left: 6.333rem;

    text-shadow: none;

    margin: 0 auto;

    display: block;

}

.button-Sm h3 {

    font-size: 25.22px !important;

    line-height: 15.52px;

    font-weight: 100 !important;

}

.button-Sm h3 a {

    color: #fff;

}

.button-Sm:hover > button > h3 > a {

    color: red !important;

}

.share-image {

    border-right-style: inset;

    border-color: #eee;

    border-width: 1px;

}

body > section.container-fluid.jumbtron > div > div:nth-child(2) > h2 > strong > a > span > u:hover {

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

    transition: text-shadow .5s;

}

.features-section {

    margin-top: 25px;

}

.feature-box img {

    position: relative;

    margin: 0 auto;

}

.member-box:hover {

    -moz-box-shadow: 2px 1px 30px 2px rgba(238, 255, 33, 1);

    box-shadow: 2px 1px 30px 2px rgba(238, 255, 33, 1);

    transition: box-shadow .5s;

}

.features-copy {} #feature-1 {

    padding-right: 15px;

}

#feature-2 {

    padding-left: 5px;

}

#feature-1:hover .click-here-text {

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

    transition: text-shadow .2s;

}

#feature-2:hover .click-here-text {

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

    transition: text-shadow .2s;

}

.member-copy {

    font-size: 27.77px;

    color: #fff;

    line-height: 39.44px;

    font-weight: bold;

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

    display: block;

    position: relative;

    top: 255px;

}

.click-here-text {

    position: relative;

    top: -9rem !important;

    z-index: 3;

    color: #fdda00;

    text-align: center;

    font-size: 1.8em;

    font-weight: 100;

}

.click-here-text:hover {

    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);

    transition: text-shadow .5s;

}

/* move text up over image and add text-shadow*/

.feature-box {

    height: 50rem;

    padding: 10px;

    -webkit-border-radius: 20px;

    -moz-border-radius: 20px;

    border-radius: 20px;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZGZjYyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top, rgba(217, 223, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(217, 223, 204, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));

    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, rgba(217, 223, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, rgba(217, 223, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, rgba(217, 223, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

    /* IE10+ */

    background: linear-gradient(to bottom, rgba(217, 223, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6d9dfcc', endColorstr='#00000000', GradientType=0);

    /* IE6-8 */

}

.left-head, .right-head {

    top: 3rem;

    z-index: 18;

    position: relative;

    margin: 0 auto;

    display: block;

}

.center-text {

    text-align: center;

}

.toplevel-mobileNav {

    background-color: #cc600e;

    height: 68px;

}

/* top most nav visable during mobie view only targets the li and p tags*/

.toplevel-mobileNav.hidden-lg.hidden-md.hidden-sm ul#nav.nav li {

    padding: 0px;

}

.toplevel-mobileNav.hidden-lg.hidden-md.hidden-sm ul#nav.nav li p {

    padding: 0px;

    margin: 0px;

    color: #fff;

}

.small, .medium, .large {

    text-align: center;

}

.tstmnls {

    margin-top: 51px;

}

.small {

    font-size: 29px;

    line-height: 25px;

}

.medium {

    font-size: 35px;

    line-height: 35px;

}

.large {

    font-size: 39px;

    line-height: 35px;

}

.center {

    text-align: center;

}

.xs-font {

    font-size: 11px;

}

#nav, .share-nav {

    text-align: center;

}

#nav li, .share-nav li {

    list-style: none;

    display: inline-block;

    vertical-align: middle;

    margin: 0 5px;

}

#nav li .active > a, #nav li > a:hover, #nav li > a:focus {

    color: #fff;

    background-color: #eee;

}

#footer-nav-3 {

    text-align: center;

}

#footer-nav-3 li {

    list-style: none;

    display: inline-block;

}

.footer-navs {

    text-align: center;

}

.footer-navs li {

    list-style: none;

    display: inline-block;

    color: #2a6496;

}

.free-microtext {

    line-height: 12px;

}

/* funky classes for funky adjustments */

.negtive-pos-12px {

    top: -12px;

    margin-top: 0px;

}

/* media queries  */

@media(min-width: 1199px) {

    .hero-bg {

        height: 55rem;

    }

    .santa-bg {

        height: 55rem;

    }

    h2 {

        font-size: 22px !important;

        line-height: 27.38px;

    }

    .tstmnls {

        margin-top: 35px;

    }

    .small {

        font-size: 29px;

        line-height: 18px;

    }

    .medium {

        font-size: 35px;

        line-height: 26px;

    }

    .large {

        font-size: 39px;

        line-height: 35px;

    }

}

@media(max-width: 1198px) {

    .santa-bg {

        height: 48rem;

    }

    .jumbtron {

        height: 20.4rem;

    }

    .small {

        font-size: 15px;

        line-height: 12px;

    }

    .medium {

        font-size: 20px;

        line-height: 20px;

    }

    .large {

        font-size: 25px;

        line-height: 18px;

    }

    .tstmnls {

        margin-top: 30px !important;

    }

    h1 {

        font-size: 55.3px;

        line-height: 63.3px;

    }

    h2 {

        font-size: 22px;

        line-height: 34.38px;

    }

    .feature-box {

        background: #fff;

        height: 40em;

    }

    .button-Sm {

        left: 15.333rem;

    }

}

@media(min-width: 992px) {

    .relative-adjust {

        top: 4em;

    }

    .relative-adjust2X {

        position: relative;

        margin: 0 auto;

    }

    .small {

        font-size: 23px;

        line-height: 20px;

    }

    .medium {

        font-size: 25px;

        line-height: 26px;

    }

    .large {

        font-size: 30px;

        line-height: 30px;

    }

    h2 {

        font-size: 19px;

    }

    .santa-bg {

        height: 47rem;

    }

    .hero-bg {

        height: 47rem;

    }

}

@media(max-width:992px){

.logo, button {

    top: 3rem;

    transform: scale(.8, .8);

}

.snow {

    top: -27px

}

.hero-learn-more {

    top: 13rem;

    left: 20rem;

}

.jumbotron {

    height: 20.5rem;

}

h2 {

    font-size: 22px;

    line-height: 34.38px;

}

.santa-bg {

    height: 36rem;

}

.hero-bg {

    height: 36rem;

}

button, .button {

    top: 15rem;

    left: 7rem;

}

.button-Sm {

    left: 9.55rem;

}

body > section > div > div:nth-child(2) > h2 {

    font-size: 21px;

    line-height: 27.38px;

}

.member-copy {

    font-size: 21px;

    color: #fff;

    line-height: 22px;

    display: block;

    position: relative;

}
}
@media(max-width: 972px) {
    .jumbtron {
        height: 50.4rem !important;
    }
}
@media (min-width: 768px) {
    .relative-button {
        display: none;
    }
    .relative-adjust2X {
        position: relative;
        top: 1rem;
    }
    .relative-adjust {
        position: relative;
        top: 3rem;
    }
}
@media(max-width: 787px) {
    .Logo {
        transform: scale(.5, .5) !important;
        -ms-transform: scale(.5, .5);
        /* IE 9 */
        -webkit-transform: scale(.5, .5);
        /* Chrome, Safari, Opera */
    }
    h2 {
        font-size: 20px;
    }
    .jumbtron {
        height: 15.4rem;
    }
    .relative-adjust {
        margin: 0 auto;
    }
    .feature-box {
        background: #fff;
    }
    .santa-bg {
        background: url("../img/santa-tablet.png") no-repeat;
        background-position: right;
        background-size: cover;
        padding-right: 0px;
        margin-right: 0px;
    }
}
@media(max-width:768px){

.tstmnls {
    margin-top: 15px!important;
}
small {
    font-size: 15px
}
h2 {
    margin-top: 0px!important;
}
}
@media(max-width: 767px) {
    .hero-learn-more {
        top: 28rem;
        left: 7rem;
    }
    .jumbtron {
        height: 47.3rem;
    }
    .member-copy {
        font-size: 32px;
        color: #fff;
        line-height: 34px;
        text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);
        display: block;
        position: relative;
        top: 229px;
    }
    .button {
        top: 17rem;
        left: -6rem;
    }
}
@media(max-width: 738px) {
    h1 {
        font-size: 26.3px;
        line-height: 38.3px;
    }
    .jumbtron {
        height: 47rem;
    }
    .feature-box {
        background: #fff;
        height: 35rem;
    }
}
@media(max-width:680px){

#feature-2 {
    padding-left:5px;
    top:-9rem;
}
}



@media(min-width: 500px) and (max-width:610px) {
    .jumbtron {
        height:42rem;
    }
}

@media(max-width: 510px) {
    .jumbtron {
        height:39px;
    }
    footer > section:nth-child(10) > nav > ul > li > p {
        text-align:center;
    }
}


@media(max-width:500px){

.member-copy {
    font-size:27px;
    top:245px;
}
.jumbtron {
    height:35rem !important;
}
h1 {
    font-size:39px;
    line-height:38.3px;
}
h2 {
    font-size:19px;
    line-height:24.38px;
}
h3 {
    font-size:34px;
}
.relative-button {
    padding:25px;
}
.relative-button >h3 {
    font-size:44px;
    font-weight:100
}
.feature-box {
    height:45rem;
}
.nav > li > a {
    padding:5px 0px !important;
}
.hero-unit {
    height:24rem;
}
.santa-bg {
    height:24rem;
    background-size:cover;
    background-position:100px 0px;
}
html body div.container-fluid nav.hidden-sm.hidden-md.hidden-lg ul.nav.nav-pills li a {
    float:right;
}
/* very spec selector for link in top-level mobile nav*/

button, .button {
    top:7rem;
    left:-4rem;
    transform:scale(.7, .7);
}
.hero-learn-more {
    top:17.4rem;
    color:#fff;
    font-size:1.1em;
    font-weight:100;
    left:10.1rem;
}
.share-nav {
    width:300px;
    margin:0 auto;
}
#share_sec {
    margin-top:-10rem;
    margin-bottom:2rem;
}
.bestXmas-heading {
    font-size:26px;
    line-height:30px;
}
/* spec selectors for share nav in mobile view */

body > section:nth-child(7) > nav > ul.nav.nav-pills.hidden-lg.hidden-md.hidden-sm > li {
    width:40px;
}
body > section:nth-child(7) > nav > ul.nav.nav-pills.hidden-lg.hidden-md.hidden-sm > li:nth-child(1) {
    width:100px;
}
}
